 .u-section-1 {
  background-image: none;
  min-height: 877px;
}

.u-section-1 .u-image-1 {
  height: 886px;
  margin-top: -9px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 533px;
  height: 533px;
  animation-timing-function: ease-in-out;
  margin: -688px auto 0 calc(((100% - 1140px) / 2) + 23px);
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  --animation-custom_in-scale: 1;
  margin: -325px calc(((100% - 1140px) / 2) + 123px) 0 calc(((100% - 1140px) / 2) + 541px);
}

.u-section-1 .u-image-3 {
  width: 452px;
  min-height: 297px;
  background-image: url("../fonts/06P3te9wiO5v.svg");
  background-position: 50% 50%;
  height: auto;
  animation-timing-function: ease-in;
  margin: -562px calc(((100% - 1140px) / 2) + 58px) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 6rem;
  letter-spacing: -4px;
  text-transform: uppercase;
  margin: 19px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 161px;
  min-height: 118px;
  background-image: url("../fonts/zvkoMomF3fuB.svg");
  height: auto;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.4;
  margin: -205px auto 0 calc(((100% - 1140px) / 2) + 328px);
}

.u-section-1 .u-container-layout-2 {
  padding: 0 5px;
}

.u-section-1 .u-image-5 {
  width: 92px;
  height: 92px;
  margin: 8px auto 0 0;
}

.u-section-1 .u-image-6 {
  width: 171px;
  min-height: 128px;
  background-image: url("../fonts/I912jhbeKXyG.svg");
  height: auto;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1.06;
  margin: 380px calc(((100% - 1140px) / 2) + 92px) 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-1 .u-image-7 {
  width: 120px;
  height: 98px;
  margin: 0 8px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 171px;
  min-height: 128px;
  background-image: url("../fonts/76GqIjZivj6h.svg");
  height: auto;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -128px calc(((100% - 1140px) / 2) + 263px) 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-9 {
  width: 95px;
  height: 89px;
  margin: 8px 19px 0 auto;
}

.u-section-1 .u-image-10 {
  width: 161px;
  min-height: 113px;
  background-image: url("../fonts/k3jEqNEbZ6AW.svg");
  height: auto;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.4;
  margin: -650px auto 0 calc(((100% - 1140px) / 2) + -24px);
}

.u-section-1 .u-image-11 {
  width: 92px;
  height: 92px;
  margin: 6px auto 0 8px;
}

.u-section-1 .u-image-12 {
  min-height: 128px;
  background-image: url("../fonts/j87mQFSLXx64.svg");
  height: auto;
  background-position: 50% 50%;
  width: 171px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 409px calc(((100% - 1140px) / 2) + 434px) 58px auto;
}

.u-section-1 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-13 {
  width: 126px;
  height: 100px;
  margin: 6px -5px 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: -69px auto 0 31px;
  padding: 2px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 883px;
  }

  .u-section-1 .u-image-2 {
    animation-duration: 1000ms;
    margin-left: calc(((100% - 940px) / 2) + 23px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 23px);
    margin-left: calc(((100% - 940px) / 2) + 441px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2) + 58px);
    height: auto;
  }

  .u-section-1 .u-text-2 {
    width: 247px;
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 940px) / 2) + 328px);
    height: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 0;
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 940px) / 2) + 92px);
    height: auto;
  }

  .u-section-1 .u-image-7 {
    width: 99px;
    height: 99px;
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 940px) / 2) + 263px);
    height: auto;
  }

  .u-section-1 .u-image-9 {
    width: 89px;
  }

  .u-section-1 .u-image-10 {
    margin-left: calc(((100% - 940px) / 2) + -24px);
    height: auto;
  }

  .u-section-1 .u-image-12 {
    margin-right: calc(((100% - 940px) / 2) + 434px);
    height: auto;
  }

  .u-section-1 .u-image-13 {
    width: 101px;
    height: 101px;
    margin-top: 0;
    margin-right: 8px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -64px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + 23px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 244px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2) + 58px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 720px) / 2) + 328px);
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 720px) / 2) + 92px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 720px) / 2) + 263px);
  }

  .u-section-1 .u-image-10 {
    margin-left: calc(((100% - 720px) / 2) + -24px);
  }

  .u-section-1 .u-image-12 {
    margin-right: calc(((100% - 720px) / 2) + 434px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + 7px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 64px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2) + 58px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 540px) / 2) + 328px);
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 540px) / 2) + 92px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 540px) / 2) + 263px);
  }

  .u-section-1 .u-image-10 {
    margin-left: calc(((100% - 540px) / 2) + -24px);
  }

  .u-section-1 .u-image-12 {
    margin-right: calc(((100% - 540px) / 2) + 369px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 690px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-top: -132px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 340px) / 2) + 179px);
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 340px) / 2) + 92px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 340px) / 2) + 169px);
  }

  .u-section-1 .u-image-10 {
    margin-left: calc(((100% - 340px) / 2) + -24px);
  }

  .u-section-1 .u-image-12 {
    margin-right: calc(((100% - 340px) / 2) + 169px);
  }
} .u-section-2 {
  min-height: 1523px;
}

.u-section-2 .u-image-1 {
  height: 1485px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-2 {
  min-height: 517px;
  background-image: url("../fonts/wqxU4JE2nEv2.svg");
  height: auto;
  background-position: 50% 50%;
  width: 456px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -1264px auto 0 calc(((100% - 1140px) / 2) + 79px);
}

.u-section-2 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.44;
  margin: 41px 242px 0 10px;
}

.u-section-2 .u-image-3 {
  width: 170px;
  height: 219px;
  transition-duration: 0.5s;
  margin: -107px 56px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 58px 34px 0;
}

.u-section-2 .u-image-4 {
  min-height: 517px;
  background-image: url("../fonts/Nvunya6MWxNt.svg");
  height: auto;
  background-position: 50% 50%;
  width: 456px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -466px calc(((100% - 1140px) / 2) + 44px) 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  font-weight: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px 228px 0 24px;
}

.u-section-2 .u-image-5 {
  width: 183px;
  height: 194px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -129px 35px 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  font-weight: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 75px 24px 0 44px;
}

.u-section-2 .u-image-6 {
  min-height: 521px;
  background-image: url("../fonts/bta4u8qLrgm9.svg");
  height: auto;
  background-position: 50% 50%;
  width: 456px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px auto 0 calc(((100% - 1140px) / 2) + 95px);
}

.u-section-2 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-image-7 {
  width: 189px;
  height: 181px;
  margin: 70px auto 0 29px;
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  font-weight: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -192px 24px 0 228px;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  font-weight: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 147px 16px 0 89px;
}

.u-section-2 .u-image-8 {
  min-height: 517px;
  background-image: url("../fonts/Nn0nQFMBRQg5.svg");
  height: auto;
  background-position: 50% 50%;
  width: 456px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -471px calc(((100% - 1140px) / 2) + 44px) 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-image-9 {
  width: 206px;
  height: 193px;
  transition-duration: 0.5s;
  margin: 48px 44px 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 2.25rem;
  font-weight: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -204px 228px 0 24px;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  font-weight: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 122px 20px 0 132px;
}

.u-section-2 .u-text-9 {
  font-size: 6rem;
  font-weight: normal;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -1390px calc(((100% - 1140px) / 2)) 1237px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1441px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -1282px;
    margin-left: calc(((100% - 940px) / 2) + 56px);
    height: auto;
  }

  .u-section-2 .u-image-4 {
    margin-top: -497px;
    margin-right: calc(((100% - 940px) / 2) + -21px);
    height: auto;
  }

  .u-section-2 .u-image-6 {
    margin-top: -35px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-2 .u-image-8 {
    min-height: 512px;
    margin-top: -496px;
    margin-right: calc(((100% - 940px) / 2) + 35px);
    height: auto;
  }

  .u-section-2 .u-image-9 {
    margin-top: 43px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -1241px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2) + 289px);
  }

  .u-section-2 .u-image-4 {
    margin-right: calc(((100% - 1140px) / 2) + 254px);
  }

  .u-section-2 .u-image-6 {
    margin-left: calc(((100% - 1140px) / 2) + 305px);
  }

  .u-section-2 .u-image-8 {
    margin-right: calc(((100% - 1140px) / 2) + 254px);
  }

  .u-section-2 .u-text-9 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1323px;
  }

  .u-section-2 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 305px);
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-4 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 340px);
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-6 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-8 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 340px);
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1523px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-1 {
    margin-right: 136px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-3 {
    margin-right: 136px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-6 {
    width: 340px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 136px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-8 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-7 {
    margin-right: 136px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 36px;
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 1140px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 800px);
  }
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before,
.u-section-2 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-9,
.u-section-2 .u-image-9:before,
.u-section-2 .u-image-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-3 {
  background-image: linear-gradient(white, rgba(255,153,51,0.84));
}

.u-section-3 .u-sheet-1 {
  min-height: 2102px;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  font-weight: normal;
  margin: 53px -124px 0;
}

.u-section-3 .u-image-1 {
  background-image: url("../fonts/azBp0VJWeqX6.svg");
  background-position: 50% 50%;
  height: auto;
  min-height: 904px;
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-weight: normal;
  font-size: 3rem;
  width: auto;
  margin: 23px 259px 0 108px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 137px 117px 0 464px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 12px 53px 0 464px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 106px 53px 0 464px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 12px 53px 0 464px;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  font-size: 6rem;
  letter-spacing: 19px;
  margin: 25px auto 0 43px;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: -78px 53px 0 464px;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 14px 53px 0 464px;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 919px;
  width: 1140px;
  margin: 53px auto 0;
}

.u-section-3 .u-image-2 {
  width: 427px;
  height: 427px;
  margin: -426px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 715px;
    height: auto;
  }

  .u-section-3 .u-text-2 {
    margin-right: 159px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 100px;
    margin-right: 47px;
    margin-left: 379px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: 48px;
    margin-left: 377px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 78px;
    margin-right: 46px;
    margin-left: 379px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: 48px;
    margin-left: 377px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 13px;
    margin-left: 34px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: -81px;
    margin-right: 46px;
    margin-left: 381px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-right: 46px;
    margin-left: 379px;
  }

  .u-section-3 .u-custom-html-1 {
    min-height: 885px;
    margin-top: 242px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    width: 255px;
    height: 254px;
    margin-top: -220px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 160px;
    margin-right: 160px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 16px;
    margin-right: 445px;
    margin-left: 70px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 241px;
    margin-right: 111px;
    margin-left: 295px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 61px;
    margin-left: 295px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -1457px;
    margin-right: 111px;
    margin-left: 295px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -2832px;
    margin-right: 61px;
    margin-left: 295px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 5540px;
    margin-left: 53px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -5529px;
    margin-right: 76px;
    margin-left: 295px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 61px;
    margin-left: 295px;
  }

  .u-section-3 .u-image-2 {
    width: 242px;
    height: 242px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1rem;
    margin-left: 570px;
    margin-right: 570px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-right: 335px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-top: -2px;
    margin-right: 21px;
    margin-left: 231px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 205px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: 21px;
    margin-left: 205px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 176px;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
    margin-top: 0;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 63px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1133px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 177px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 34px;
    min-height: 265px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 135px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.625rem;
    margin-top: 36px;
    margin-right: 16px;
    margin-left: 139px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.625rem;
    margin-top: -2px;
    margin-right: 17px;
    margin-left: 138px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.625rem;
    margin-top: 19px;
    margin-right: 17px;
    margin-left: 138px;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.625rem;
    margin-right: 17px;
    margin-left: 137px;
  }

  .u-section-3 .u-text-7 {
    font-size: 2.25rem;
    letter-spacing: 2px;
    margin-top: 2px;
    margin-right: 216px;
    margin-left: 17px;
  }

  .u-section-3 .u-text-8 {
    font-size: 0.625rem;
    margin-top: -36px;
    margin-right: 16px;
    margin-left: 139px;
  }

  .u-section-3 .u-text-9 {
    font-size: 0.625rem;
    margin-right: 17px;
    margin-left: 137px;
  }

  .u-section-3 .u-custom-html-1 {
    min-height: 610px;
    margin-top: 22px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    margin-top: -242px;
    margin-left: 19px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 839px;
}

.u-section-4 .u-image-1 {
  height: 465px;
  margin-top: 367px;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  font-weight: normal;
  margin: -766px 124px 0;
}

.u-section-4 .u-image-2 {
  width: 1140px;
  height: 663px;
  margin: -43px auto 1px calc(((100% - 1140px) / 2) + -16px);
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1047px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 579px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -962px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-image-2 {
    width: 940px;
    height: 546px;
    margin-top: 81px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1104px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-2 {
    width: 720px;
    height: 418px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 977px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 452px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: -736px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 314px;
    margin-top: 123px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 467px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -58px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -285px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 198px;
    margin-top: 0;
    margin-left: calc(((100% - 340px) / 2));
  }
}

.u-block-717e-41:not([data-block-selected]):not([data-cell-selected]),
.u-block-717e-41:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-717e-41:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-717e-22:not([data-block-selected]):not([data-cell-selected]),
.u-block-717e-22:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-717e-22:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}